@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*,
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    background: rgb(22, 21, 21);
}
header{
    width: 97%;
    height: 10vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 2;
}
#sound{
    padding: 7px;
    background-color: #1b1b1b;
    border-radius: 5px;
    display: flex;
    align-items: center;
    color: #fff;
}
.sound-cloud{
    font-size: 1.2rem;
    margin: 7px;
    color: #f3709e;
}
.on-off{
    cursor: pointer;
    margin-left: 5px;
}
#off{
    position: relative;
    top: 1.2px;
    color: #f3709e;
}
#on{
    display: none;
    position: relative;
    top: 1.2px;
    color: pink;
}
.btn-container .fas{
    font-size: 2rem;
    padding: 10px;
    background-color:#181818;
    color: #fff;
    cursor: pointer;
    

}
.btn-container .fas:nth-child(2){
    display: none;
}
/*Aside section*/
.aside{
    background-color:#181818;
    height: 0;
    width: 100%;
    position: fixed;
    top: 0;
    left:0;
    z-index: 1;
    overflow: hidden;
}
.show-nav{
    height: 100%;
    overflow:visible;
    
}
.aside-wrapper{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

}
.logo img{
    width: 60px;
    height: auto;
}
.logo-sec{
    min-height: 32vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #000;
    color: #fff;

}
.logo{
   display: grid;
   place-items: center;
   text-decoration: none; 
}
.logo span{
    font-size: .7rem;
    color: #fff;
    margin-top: .4em;
}
.logo-sec > span{
    margin-top: 20px;
    font-size: 14px;
    font-family: 'Times New Roman','Times',serif;
    text-align: center;
}

/*Nav section*/
.nav-links a{
    display: block;
    text-align: center;
    line-height: 3rem;
    text-decoration: none;
    color: #99999c;
}
.nav-links a:hover{
    color: pink;
}
.nav-links a::before{
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    background-color: #2d2d2e;
}
 hr{
    position: relative;
    width: 100%;
    border: 0.01px solid #2d2d2e;
    top: -80px;
}
/*social icons*/
.social-icons{
    list-style: none;
    display: flex;
    margin-bottom: 30px;
}
.social-icons li{
    width: 30px;
    font-size: 1rem;
}
.social-icons li a{
    text-decoration: none;
    color: #99999c;

}
.social-icons li a:hover{
    color: pink;;
}
#sec-home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
}
.text-zone::before{
    content: '<html>';
    position: absolute;
    top: 80px;
    left: -0.2px;
    margin-left: 11px;
    font-size: 1rem;
    font-family: 'La Belle Aurore', cursive;
    color: #666565;
    letter-spacing: 3px;

}
.text-zone::after{
    content: '<body>';
    position: absolute;
    top: 100px;
    padding-top: .7em;
    font-size: 1rem;
    font-family: 'La Belle Aurore', cursive;
    color: #666565;
    letter-spacing: 3px;
}

.text-zone h1{
    font-size: 3.3rem;
    line-height: 50px;
}
.text-zone h1::before{
    content: '<h1>';
    position: absolute;
    top: 155px;
    font-size: 1rem;
    font-family: 'La Belle Aurore', cursive;
    color: #666565;
    letter-spacing: 3px;

}
.text-zone h1::after{
    content: '</h1>';
    position: absolute;
    left: 1.5em;
    padding-top: 2.8em;
    font-size: 1rem;
    font-family: 'La Belle Aurore', cursive;
    color: #666565;
    letter-spacing: 3px;
}
.text-zone img{
    width: 35px;
    height: 50px;
}
.text-zone .def{
    font-size: 3rem;
}
.text-zone img{
    width: 80px;
    height: 70px;
    position: relative;
    left: -15px;
    
}
.text-zone .myname{
    position: relative;
    left: -35px;
    color: pink;
}
.text-zone p{
    margin-top: 60px;
    color: #a2a2a3;
    letter-spacing: 3px;
    font-size: 14px;
    position: relative;
}
.text-zone p::before{
    content: '<p>';
    position: absolute;
    top: -20px;
    font-size: .9rem;
    font-family: 'La Belle Aurore', cursive;
    color: #666565;
    letter-spacing: 3px;

}
.text-zone p::after{
    content: '</p>';
    position: absolute;
    left: 0;
    padding-top: 1.8em;
    font-size: .9rem;
    font-family: 'La Belle Aurore', cursive;
    color: #666565;
    letter-spacing: 3px;
}
/*Contact button*/
.contact-button{
    margin-top: 50px;
    text-decoration: none;
    width: 100%;
    max-width: 200px;
    height: 40px;
    display: block;
    line-height: 40px;
    letter-spacing: 3px;
    position: relative;
    text-align: center;
}
.contact-button div{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition:  all .3s ease-in-out;
}
.contact-button span.bg{
    position: absolute;
    width: 0%;
    height: 100%;
    left: -5px;
    top: 0;
    transition: all .3s ease-in-out;
    background-color: pink;
    transform: skewX(-19deg);
    
}
.contact-button:hover span.bg{
    width: 110%;
}
.contact-button span.base{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    border: 1px solid pink;
    box-sizing: border-box;
    
}
.contact-button span.text{
    color: pink;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    
}
.contact-button:hover span.text{
    color: #1d1d1d;
}


#sec-work{
    padding: 1rem 0 5rem 1.8rem;
    width: 95%;
    position: relative;
}
#sec-header{
    font-size: 2rem;
    color: pink;
    margin-bottom: 30px;
    letter-spacing: -2px;
}
.text-zone-2 p{
    line-height: 1.5;
}
.text-zone-2 a, .text-zone3 a,.inTouch a{
    color: pink;
    text-decoration: none;
}
.big-text,.big-proj{
    font-size: 8rem;
    font-weight: 700;
    position: absolute;
    color: #2d2d2e;
    right: 8px;
    bottom: 90px;
    letter-spacing: -13px;
    z-index: -999;
    opacity: 0.3;
    margin-right: 1.5%;
}


#sec-about{
    padding: 0 0 5rem 1.8rem;
    margin-top: -40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 95%;
  
}
.text-zone3 p{
    margin-bottom: 15px;
    line-height: 1.5rem;
}




/*Media Query*/
@media screen and (min-width: 900px) {
    #myCanvas{
    width: 450px;
    height: auto;
    }
    header{
        justify-content: flex-end;
    }
    .btn-container{
        display: none;
    }
    .aside{
        width: 15%;
        height: 100%;
    }
    .aside-wrapper{
        height: 80%;
    }
    .logo-sec{
        height: 25vh;
    }
    .logo img{
        width: 50px;
        height: auto;
    }
    .social-icons{
        margin-bottom: 0;
    }
    .social-icons li{
        text-align: center;
        font-size: 1.2rem;
    }
    hr{
        top: -40px;
    }

    #sec-home{
        padding-left: 12rem;
    }
    .text-zone h1{
        font-size: 6.3rem;
        line-height: 85px;
        letter-spacing: -6px;
    }
    .text-zone .def{
        font-size: 5.2rem;
    }
    .text-zone img{
        width: 100px;
        height: 110px;
        left: -1px;
        
    }
    .text-zone .myname{
        left: -25px;
    }
    .text-zone p{
        margin-top: -35px;
        letter-spacing: 1px;
        font-size: 20px;
    }
    .text-zone::before{
        left: 155px;
        top: 30px;
        font-size: 1.2rem;
    
    }
    .text-zone::after{
        top: 50px;
        font-size: 1.2rem;
    }
    .text-zone h1::before{
        top: 90px;
        font-size: 1.2rem;
    
    }
    .text-zone h1::after{
        left: 44em;
        font-size: 1.2rem;
        margin-top: .5em;
    }
    .text-zone p::before{
        font-size: 1.1rem;
    
    }
    .text-zone p::after{
        padding-top: 2rem;
        font-size: 1.1rem;
    } 
    .big-text{
        font-size: 11rem;
        bottom: 10px;
    }

    #sec-work{
        width: 97%;
        position: relative;
        margin-top: 5px;
        padding-left: 12rem;
        margin-right:15px;
        display: flex;
        flex-direction: column;
    }
    #sec-header{
        font-size: 2rem;
    }
    .text-zone-2 p, .text-zone3 p{
        line-height: 1.5;
        font-size: 1.1em;
    }
    .text-zone-2 .contact-button{
        position: absolute;
        bottom: 50px;
        right: 0;

    }
    #sec-about{
        margin-top: -20px;
        padding-left: 12rem;
       
    }
    footer .inTouch{
        width: 85%;
        right: 0;
    }

}
@media screen and (min-width: 1100px) {

    #sec-home{
        padding-left: 15rem;
    }
    .text-zone::before{
        left: 200px;
    }
    .aside{
        width: 14%;
  
    }

    .text-zone h1::after{
        left: 47em;
    }
    #sec-work{
        padding-left: 15rem;
        width: 91%;
    }
    
    #sec-about{
        padding-left: 15rem;
        flex-direction: row;
        margin-right: 1rem;
        width: 77%;
    }
    .text-zone3 {
        flex: 2; /* Takes up 2/3 of the width */
        max-width: 60%;
      }
      .skills-charts {
        flex: 1; /* Takes up 1/3 of the width */
        max-width: 40%;

      }
      footer .inTouch{
        width: 86%;
        right: 0;
    }
}
@media screen and (min-width: 1300px) {
    #sec-about{
        
        width: 90%;
    }
    #sec-header{
        font-size: 2.8rem;
    }
    footer .inTouch{
 
        right: 0;
    }
}

footer{
    width: 100vw;
}
.inTouch{
    position: absolute;
    background-color:#181818;
    height: 10%;
    width: 100%;
    text-align: center;
    padding-top: 1em;
    border: solid pink 1px;

}
.inTouch a:hover{
    color: #f50057;
}

  canvas#canvas {
    position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
    z-index: -1;
}
